
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

header {
    flex: 0;
    height: 4rem;
}

footer {
    flex: 0;
}

main {
    flex: 1;
}

#umenu {
    background: purple;
    text-align: center;
    position: fixed;
    width: 100%;    
    height: 5rem;
    z-index: 9999999;
}

#umenu a {
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
}

#umenu a img {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:20%;
    height:auto;
}

.picSliderFrame .picSFImgs {
    max-width:800px;
    margin: 0px auto;
    padding-top: 1.5%;
    width: 90%;
    height: 500px;
}

.picSliderFrame div img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width:100%
}

.picSliderFrame button{
    display: table;
    margin: 0 auto;
}

.border {
    background: purple;
    width: 84%;
    height: 4px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mfunded {
    margin-left: 10%;
    margin-right: 10%;
}

.mfunded a img {
    border: 8px solid;
    border-color: purple;
}

.mfunded div {
    margin-left: 35%;
}

#footer {
    background: purple;
    text-align: center;
    width: 100%;
    height: 12rem;
    padding-bottom: 40px;
    overflow: hidden;
}

/*  facebook floating left button START */
.fb {
    position: fixed;
    top: 150px;
}
.fb ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}
.fb ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.fb ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: purple;
}
.fb ul li:hover a {
    color: white;
}
.fb ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.fb ul li a{
    color: #fff;
    text-decoration: none;
}

.fb ul li i {
    margin-left: 10px;
    color: white;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: purple;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/* facebook floating left button END */

/*START OF NEXT BUTTON*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: purple;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/*END OF NEXT BUTTON*/

.center {
    margin-top: .5rem;
    text-align: center;
}

.footer-column {
    float: left;
    width: 23%;
    padding: .6rem;
    margin-top: 20px;
}

.footer-column h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
    margin: 0;
}

.footer-column p {
    color: #cacaca;
    line-height: 2em;
    font-size: 14px; 
}



.footer-column ul {
    text-align: center;
    list-style-type: none;
    margin: 0 3rem;
    padding: 0;
}

.footer-column li {
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer-column li:last-child {
    border: none;
}

.footer-column li a {
    text-decoration: none;
    color: #cacaca;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    padding-left: .3rem;
}

.footer-column li a:hover {
    font-size: 20px;
    background: rgb(99, 3, 99);
}


.list-column {
    width: 100%;
    margin: 1rem auto;
}

.copy-right {
    clear: both;
    height: 2rem;
    padding: 1rem 0 0;
    text-align: center;
    background: #630363;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.copy-right a {
    color: white;
    text-decoration: underline;
    margin-left: .25px;
}

#content {
    margin-top: 5rem;
}

/*PROJCET LIST ON MAINC PAGE START*/
.project_main {
    margin-top: 40px;
}

.project_main a img{
    margin-top: 40px;
    width: 50%;
    float: left;
}
/*PROJECT LIST ON MAIN PAGE END */


#start_button {
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 4px;
    background-color: green;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    margin: 20px;
    width: 20%;
    margin-left: 40%;
}

#start_project h1{
    color: green;
    margin-left: 200px;
}


#start_project textarea{
    color: purple;
    font-weight: 900;
    margin-top: 10px;
    margin-left: 200px;
    word-wrap: break-word;
    width: 50%;
    height: 300px;
    font-size: 18px;
}

#start_project input{
    color: purple;
    font-weight: 900;
}

#start_project input{
    margin-left: 200px;
}