
html, body {
    margin: 0;
    padding: 0;
}

#umenu {
    background: purple;
    text-align: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 9999999;
}

#umenu a {
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
}

#umenu a img {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:20%;
    height:auto;
}

.picSliderFrame .picSFImgs {
    max-width:800px;
    margin: 0px auto;
    padding-top: 8%;
    width: 90%;
    height: 500px;
}

.picSliderFrame div img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width:100%
}

.picSliderFrame button{
    display: table;
    margin: 0 auto;
}

.border {
    background: purple;
    width: 84%;
    height: 4px;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mfunded {
    margin-left: 10%;
    margin-right: 10%;
}

.mfunded a img {
    border: 8px solid;
    border-color: purple;
}

.mfunded div {
    margin-left: 35%;
}

#footer {
    background: purple;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 0px;

}