
html, body {
    margin: 0;
    padding: 0;
}

#umenu {
    background: rebeccapurple;
    text-align: center;
    position: fixed;
    width: 100%;
    height: auto;
}

#umenu a {
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
}

#umenu a img {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:20%;
    height:auto;
}

.bla {
    padding-top: 8%;
    width: 90%;
    height: 500px;
}

.bla img{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}