
        <div class="search-container">
            <form>
                <input type="text" name="search" id="search" placeholder="Search Project..." onkeyup="scrollTo('content_list');listFilesTo('content_list',this.value);" >
            </form>
        </div>


        <div class="container">

            <div class="left">
            </div>

            <div class="center-container">

                <div id="search_filters" class="equal_height_container">
                    <div id="list-tag" class="column">
                        <ul>
                            <li><a href="">Popular</a></li>
                            <li><a href="">Most Funded</a></li>
                            <li><a href="">Ending soon</a></li>
                            <li><a href="">Just Launched</a></li>
                        </ul>
                    </div>

                    <div id="category" class="column">
                        <h2>Category</h2>
                        <div>
                            <input type="checkbox" id="art">
                            <label for="art">Art</label>
                        </div>
                        <div>
                            <input id="food" type="checkbox">
                            <label for="food">Food</label>
                        </div>
                        <div>
                            <input id="tech" type="checkbox">
                            <label for="tech">Tech</label>
                        </div>
                        <div>
                            <input id="finance" type="checkbox">
                            <label for="finance">Finance</label>
                        </div>
                    </div>
                </div>


                <div id="content-projects">
                    <ul id="content_list">
                        {{> project_list}}
                    </ul>
                </div>
            </div>

            <div class="right">
            </div>
        </div>
